/************
CSS for Music-history-assignment
*************/
body{
	margin: 0;
	background: lightgray;
}

/*styling for nav-bar*/
nav > ul{
	padding: 15px;
	margin: 5px;
	background-color: #FFB4B0;
	border: 2px solid black;
}

li{
	list-style-type: none;
	display: inline;
}

/*slider bar styling*/
ul.sidebar{
	display: inline-block;
	float: left;
	margin: 15px 15px 15px 5px;
	padding: 15px;
	background-color: #4DD7FA;
	width: 23%;
	border: 2px solid black;

}
ul.sidebar > div{
	padding-top: 5px;

}
select{
	width: 85%;
}

input[type="checkbox"]:hover{
	cursor: pointer;

}

select{
	cursor: pointer;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-webkit-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-webkit-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-webkit-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-webkit-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-webkit-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 5px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  height: 10px;
}
input[type=range]:focus::-webkit-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-webkit-fill-upper  {
  background: white;
}




ul.sidebar > li{
	padding: 10px 0 15px 0;
	margin: 100px 0 100px 0;
}

ul.sidebar > button {
	background-color: lightgray;
	display: block;
	width: 75%;
	margin:  50px auto 5px auto;
	padding: 10px 20px 10px 20px;
	border: 1px solid black;
}
ul.sidebar > button:hover{
	cursor: pointer;
}

div.left{
	float: left;
}
div.right{
	float: right;
}

/*styling for main content section*/
ul.maincontent{
	margin-right: 5px;
	margin-left: 2px;
	padding-top: -5px;
	padding-bottom: 28px;
	display: inline-block;
	background-color: #FEFAC0;
	color: #785616;
	width: 60%;
	border: 2px solid black;
}

ul.maincontent > h1{
	margin-bottom: -5px;
}

ul.maincontent li{
	color: black;
	margin: 0 10px 0 10px;
}


